body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-lilita-one: "Lilita One";
  --font-itim: Itim;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-109xl: 128px;
  --font-size-5xl: 24px;
  --font-size-184xl: 203px;
  --font-size-13xl: 32px;
  --font-size-45xl: 64px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-77xl: 96px;
  --font-size-xl: 20px;

  /* Colors */
  --color-whitesmoke: #f5f4ef;
  --color-gray-200: rgba(0, 0, 0, 0.6);
  --color-gray-100: rgba(0, 0, 0, 0.8);
  --color-red: #eb1700;
  --color-deepskyblue-100: rgba(0, 178, 234, 0.8);
  --color-white: #fff;
  --color-black: #000;
  --color-linen: #eae4d7;

  /* Border radiuses */
  --br-mini: 15px;
}
