.frame-icon {
  position: absolute;
  top: 6310.5px;
  left: -399px;
  width: 2078px;
  height: 43px;
  overflow: hidden;
}
.we-wrote-the {
  position: absolute;
  top: 0;
  left: 55px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 1145px;
  height: 215px;
}
.frame,
.frame1,
.frame2 {
  position: absolute;
  top: 0;
  left: 439px;
  width: 1200px;
  height: 215px;
  overflow: hidden;
}
.frame,
.frame1 {
  left: 0;
  width: 1677px;
}
.frame {
  top: 7696px;
  left: -399px;
  width: 2078px;
  font-size: var(--font-size-45xl);
  color: var(--color-red);
}
.red-antler-is-simply-the-best {
  margin: 0;
}
.tim-brown {
  margin: 0;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.red-antler-is-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.06em;
  display: inline-block;
  width: 1211px;
  height: 261px;
}
.frame3,
.frame4,
.frame5 {
  position: absolute;
  top: 0;
  left: 418px;
  width: 1242px;
  height: 261px;
  overflow: hidden;
}
.frame3,
.frame4 {
  left: 0;
  width: 1660px;
}
.frame3 {
  top: 13188px;
  left: -399px;
  width: 2078px;
  font-size: var(--font-size-29xl);
  color: var(--color-red);
}
.image-8-icon {
  position: absolute;
  top: 0;
  left: 719px;
  width: 640px;
  height: 827px;
  object-fit: cover;
}
.frame6,
.frame7,
.frame8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1359px;
  height: 827px;
  overflow: hidden;
}
.frame6,
.frame7 {
  left: 27px;
  width: 2078px;
}
.frame6 {
  top: 7921px;
  left: -399px;
  width: 2105px;
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1880px;
  height: 892px;
  object-fit: cover;
}
.red-antler {
  top: 128px;
  left: 433px;
  font-size: var(--font-size-21xl);
  width: 207px;
  height: 47px;
}
.about,
.red-antler,
.work {
  position: absolute;
  display: inline-block;
}
.about {
  top: 140px;
  left: 1251px;
  width: 74px;
  height: 23px;
  cursor: pointer;
}
.work {
  left: 1151px;
  width: 59px;
}
.careers,
.clients,
.work {
  top: 140px;
  height: 23px;
  cursor: pointer;
}
.clients {
  position: absolute;
  left: 1353px;
  display: inline-block;
  width: 72px;
}
.careers {
  left: 1454px;
  width: 82px;
}
.careers,
.contact,
.we-turn-brand-container {
  position: absolute;
  display: inline-block;
}
.contact {
  top: 140px;
  left: 1561px;
  width: 83px;
  height: 23px;
  cursor: pointer;
}
.we-turn-brand-container {
  top: 362px;
  left: 523px;
  font-size: var(--font-size-77xl);
  letter-spacing: -0.01em;
  font-family: var(--font-lilita-one);
  text-align: center;
  width: 1099px;
  height: 562px;
}
.frame10,
.frame9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1880px;
  height: 924px;
  overflow: hidden;
}
.frame9 {
  top: -92px;
  left: -399px;
  width: 2078px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.fastest-growing-dating-app-container,
.hinge {
  position: absolute;
  top: 0;
  left: 160px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 310px;
  height: 95px;
}
.hinge {
  top: 75px;
  left: 29px;
  font-size: var(--font-size-109xl);
  font-family: var(--font-poppins);
  color: var(--color-red);
  width: 583px;
  height: 202px;
}
.image-2-icon,
.vector-icon {
  position: absolute;
  top: 241px;
  left: 0;
  width: 640px;
  height: 284px;
  object-fit: cover;
}
.vector-icon {
  height: 3.14%;
  width: 3.91%;
  top: 67.18%;
  right: 31.41%;
  bottom: 29.68%;
  left: 64.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.frame11,
.frame12,
.frame13,
.frame14 {
  position: absolute;
  top: 0;
  left: 66px;
  width: 640px;
  height: 525px;
  overflow: hidden;
}
.frame11,
.frame12,
.frame13 {
  left: 686px;
  width: 706px;
}
.frame11,
.frame12 {
  left: 0;
  width: 1392px;
}
.frame11 {
  top: 987px;
  left: -399px;
  width: 2078px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.view-project {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 174px;
  height: 77px;
}
.vector-icon1 {
  position: absolute;
  height: 21.43%;
  width: 12.56%;
  top: 11.69%;
  right: 0;
  bottom: 66.88%;
  left: 87.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.frame15,
.frame16,
.frame17,
.frame18 {
  position: absolute;
  top: 0;
  left: 91px;
  width: 199px;
  height: 77px;
  overflow: hidden;
}
.frame15,
.frame16,
.frame17 {
  left: 894px;
  width: 290px;
}
.frame15,
.frame16 {
  left: 0;
  width: 1184px;
}
.frame15 {
  top: 1532px;
  left: -399px;
  width: 2078px;
}
.b-valuation,
.ramp {
  position: absolute;
  top: 27px;
  left: 165px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 310px;
  height: 54px;
}
.ramp {
  top: 54px;
  left: 29px;
  font-size: var(--font-size-109xl);
  font-family: var(--font-poppins);
  color: var(--color-red);
  width: 583px;
  height: 202px;
}
.image-3-icon {
  position: absolute;
  top: 226px;
  left: 0;
  width: 640px;
  height: 284px;
  object-fit: cover;
}
.frame19,
.frame20,
.frame21,
.frame22 {
  position: absolute;
  top: 0;
  left: 114px;
  width: 640px;
  height: 510px;
  overflow: hidden;
}
.frame19,
.frame20,
.frame21 {
  left: 662px;
  width: 754px;
}
.frame19,
.frame20 {
  left: 0;
  width: 1416px;
}
.frame19 {
  top: 1842px;
  left: -399px;
  width: 2078px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.view-project1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 162px;
  height: 77px;
}
.vector-icon2 {
  position: absolute;
  height: 21.43%;
  width: 13.37%;
  top: 11.69%;
  right: 0;
  bottom: 66.88%;
  left: 86.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.frame23,
.frame24,
.frame25,
.frame26,
.vector-icon3 {
  position: absolute;
  top: 0;
  left: 115px;
  width: 187px;
  height: 77px;
  overflow: hidden;
}
.frame23,
.frame24,
.frame25,
.vector-icon3 {
  left: 888px;
  width: 302px;
}
.frame23,
.frame24,
.vector-icon3 {
  left: 0;
  width: 1190px;
}
.frame23,
.vector-icon3 {
  top: 2364px;
  left: -399px;
  width: 2078px;
}
.vector-icon3 {
  height: 40.24%;
  width: 12.63%;
  top: 21.95%;
  right: 0;
  bottom: 37.8%;
  left: 87.37%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.frame27,
.frame28,
.frame29,
.frame30,
.frame31 {
  position: absolute;
  top: 0;
  left: 62px;
  width: 198px;
  height: 41px;
  overflow: hidden;
}
.frame27,
.frame28,
.frame29,
.frame30 {
  left: 909px;
  width: 260px;
}
.frame27,
.frame28,
.frame29 {
  left: 0;
  width: 1169px;
}
.frame27,
.frame28 {
  left: 32px;
  width: 2078px;
}
.frame27 {
  top: 4124px;
  left: -399px;
  width: 2110px;
}
.acquired-by-blackstone,
.supergoop {
  position: absolute;
  top: 87px;
  left: 48px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 1268px;
  height: 202px;
}
.acquired-by-blackstone {
  top: -11px;
  left: 464px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  width: 393px;
  height: 98px;
}
.frame34,
.frame35,
.frame36 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 1268px;
  height: 251px;
  overflow: hidden;
}
.frame34,
.frame35 {
  left: 399px;
  width: 1280px;
}
.frame34 {
  left: 0;
  width: 1679px;
}
.frame33 {
  top: 0;
  left: 9px;
  width: 2078px;
  height: 251px;
}
.frame32,
.frame33,
.vector-icon4 {
  position: absolute;
  overflow: hidden;
}
.frame32 {
  top: 4537px;
  left: -399px;
  width: 2087px;
  height: 251px;
  font-size: var(--font-size-109xl);
  color: var(--color-red);
}
.vector-icon4 {
  height: 46.34%;
  width: 12.76%;
  top: 26.83%;
  right: 0;
  bottom: 26.83%;
  left: 87.24%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.frame37,
.frame38,
.frame41 {
  position: absolute;
  top: 0;
  left: 64px;
  width: 196px;
  height: 41px;
  overflow: hidden;
}
.frame37,
.frame38 {
  left: 41px;
  width: 2078px;
}
.frame37 {
  top: 6091px;
  left: -399px;
  width: 2119px;
}
.learn-more,
.weve-launched-more {
  position: absolute;
  top: 167px;
  left: 119px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 1026px;
  height: 602px;
}
.learn-more {
  top: 857px;
  left: 132px;
  width: 343px;
  height: 81px;
}
.vector-icon5 {
  position: absolute;
  height: 2.57%;
  width: 3.36%;
  top: 83.89%;
  right: 62.89%;
  bottom: 13.54%;
  left: 33.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.frame42,
.frame43,
.frame44 {
  position: absolute;
  top: 0;
  height: 1049px;
  overflow: hidden;
}
.frame44 {
  left: 399px;
  background-color: var(--color-black);
  width: 1280px;
}
.frame42,
.frame43 {
  left: 0;
  width: 1679px;
}
.frame42 {
  top: 6366px;
  left: -399px;
  width: 2078px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.frame46 {
  top: 0;
  left: 0;
  width: 1146px;
  overflow: hidden;
}
.buy-now,
.frame45,
.frame46 {
  position: absolute;
  height: 41px;
}
.frame45 {
  top: 8889px;
  left: -399px;
  width: 2078px;
  overflow: hidden;
}
.buy-now {
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 163px;
}
.vector-icon6 {
  position: absolute;
  height: 46.34%;
  width: 14.71%;
  top: 17.07%;
  right: 0;
  bottom: 36.59%;
  left: 85.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.frame47,
.frame48,
.frame49 {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 41px;
  overflow: hidden;
}
.frame47,
.frame48 {
  left: 967px;
  width: 214px;
}
.frame47 {
  top: 8787px;
  left: -399px;
  width: 1181px;
}
.cann-thc-container,
.figure-thc-container,
.rebag-redefining-luxury-container {
  position: absolute;
  top: 1669px;
  left: 130px;
  letter-spacing: -0.01em;
  text-align: right;
  display: inline-block;
  width: 323px;
  height: 72px;
}
.cann-thc-container,
.rebag-redefining-luxury-container {
  top: 2960px;
  left: 46px;
  text-align: left;
}
.rebag-redefining-luxury-container {
  top: 3215px;
  left: 839px;
}
.view-all-work {
  top: 3834px;
  left: 508px;
  font-size: var(--font-size-17xl);
  color: #00b2ea;
  text-align: left;
  width: 323px;
  height: 72px;
}
.view-all-work,
.view-project4,
.view-project5 {
  position: absolute;
  letter-spacing: -0.01em;
  display: inline-block;
}
.view-project4 {
  top: 821px;
  left: 1009px;
  color: var(--color-deepskyblue-100);
  width: 163px;
  height: 41px;
}
.view-project5 {
  top: 1116px;
  left: 829px;
}
.view-project5,
.view-project6,
.view-project7 {
  color: var(--color-deepskyblue-100);
  width: 163px;
  height: 41px;
}
.view-project6 {
  position: absolute;
  top: 1763px;
  left: 272px;
  letter-spacing: -0.01em;
  display: inline-block;
}
.view-project7 {
  top: 3298px;
  left: 837px;
}
.featured-work,
.view-project7,
.view-project8 {
  position: absolute;
  letter-spacing: -0.01em;
  display: inline-block;
}
.view-project8 {
  top: 2961px;
  left: 1005px;
  color: var(--color-deepskyblue-100);
  width: 163px;
  height: 41px;
}
.featured-work {
  top: 70px;
  left: 49px;
  width: 186px;
  height: 43px;
}
.image-9-icon {
  position: absolute;
  top: 138px;
  left: 49px;
  width: 1167px;
  height: 657px;
  object-fit: cover;
}
.cann-thc-container1,
.prose-hyper-custom-container {
  position: absolute;
  top: 821px;
  left: 49px;
  letter-spacing: -0.01em;
  text-align: left;
  display: inline-block;
  width: 323px;
  height: 41px;
}
.cann-thc-container1 {
  top: 1016px;
  left: 835px;
  height: 72px;
}
.image-10-icon,
.image-11-icon {
  position: absolute;
  top: 1016px;
  left: 49px;
  width: 750px;
  height: 495px;
  object-fit: cover;
}
.image-11-icon {
  top: 1669px;
  left: 491px;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 0.48%;
  width: 1.95%;
  top: 20.71%;
  right: 6.02%;
  bottom: 78.81%;
  left: 92.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon8,
.vector-icon9 {
  top: 28.09%;
  right: 20.16%;
  bottom: 71.44%;
  left: 77.89%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon9 {
  top: 44.27%;
  right: 64.06%;
  bottom: 55.25%;
  left: 33.98%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12 {
  top: 74.24%;
  right: 6.8%;
  bottom: 25.29%;
  left: 91.25%;
}
.vector-icon11,
.vector-icon12 {
  top: 82.77%;
  right: 19.92%;
  bottom: 16.76%;
  left: 78.13%;
}
.vector-icon12 {
  height: 0.65%;
  width: 2.66%;
  top: 96.15%;
  right: 37.19%;
  bottom: 3.2%;
  left: 60.16%;
}
.frame-child,
.image-16-icon,
.image-17-icon {
  position: absolute;
  top: 2271px;
  left: 46px;
  width: 1195px;
  height: 648px;
  object-fit: cover;
}
.frame-child,
.image-17-icon {
  top: 3215px;
  width: 735px;
  height: 531px;
}
.frame-child {
  top: 2216px;
  left: 0;
  width: 1204px;
  height: 4px;
  object-fit: contain;
}
.frame50,
.frame51,
.frame52 {
  position: absolute;
  top: 0;
  height: 3998px;
  overflow: hidden;
}
.frame52 {
  left: 399px;
  background-color: var(--color-white);
  width: 1280px;
}
.frame50,
.frame51 {
  left: 0;
  width: 1679px;
}
.frame50 {
  top: 9071px;
  left: -399px;
  width: 2078px;
  color: var(--color-black);
}
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-linen);
  width: 1280px;
  height: 619px;
}
.get-the-update-container {
  position: absolute;
  top: 116px;
  left: 35px;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.06em;
  display: inline-block;
  color: var(--color-black);
  text-align: center;
  width: 1211px;
  height: 261px;
}
.image-14-icon {
  position: absolute;
  top: 95px;
  left: 765px;
  width: 96px;
  height: 116px;
  object-fit: cover;
}
.frame-inner {
  position: absolute;
  top: 371px;
  left: 146px;
  border-radius: var(--br-mini);
  background-color: var(--color-linen);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 995px;
  height: 111px;
}
.enter-email-address {
  position: absolute;
  top: 405px;
  left: 194px;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.06em;
  color: var(--color-gray-200);
  display: inline-block;
  width: 601px;
  height: 55px;
}
.rectangle-div {
  position: absolute;
  top: 615px;
  left: 0;
  background-color: var(--color-black);
  width: 1280px;
  height: 774px;
}
.red-antler-is {
  position: absolute;
  top: 667px;
  left: 36px;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.06em;
  display: inline-block;
  width: 581px;
  height: 112px;
}
.image-15-icon {
  position: absolute;
  top: 666px;
  left: 669px;
  width: 96px;
  height: 57px;
  object-fit: cover;
}
.meet-wildfruit1 {
  font-family: var(--font-poppins);
}
.learn-more3 {
  text-decoration: underline;
}
.learn-more2 {
  color: inherit;
}
.meet-wildfruit-a-container {
  position: absolute;
  top: 666px;
  left: 783px;
  letter-spacing: -0.06em;
  display: inline-block;
  width: 265px;
  height: 180px;
}
.instagram-linkedin,
.red-antler1,
.work-about-clients-container {
  position: absolute;
  top: 667px;
  left: 1116px;
  letter-spacing: -0.06em;
  display: inline-block;
  width: 164px;
  height: 253px;
}
.instagram-linkedin,
.red-antler1 {
  top: 1174px;
  width: 118px;
  height: 72px;
}
.red-antler1 {
  top: 1046px;
  left: 36px;
  font-size: var(--font-size-184xl);
  width: 975px;
  height: 255px;
}
.vector-icon13 {
  position: absolute;
  height: 2.59%;
  width: 4.3%;
  top: 29.59%;
  right: 13.83%;
  bottom: 67.82%;
  left: 81.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.frame53,
.frame54,
.frame55 {
  position: absolute;
  top: 0;
  left: 399px;
  width: 1280px;
  height: 1389px;
  overflow: hidden;
}
.frame53,
.frame54 {
  left: 0;
  width: 1679px;
}
.frame53 {
  top: 13565px;
  left: -399px;
  width: 2078px;
  text-align: left;
  color: var(--color-white);
}
.archer,
.b-order-from {
  position: absolute;
  top: 0;
  left: 219px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 310px;
  height: 98px;
}
.archer {
  top: 98px;
  left: 0;
  font-size: var(--font-size-109xl);
  font-family: var(--font-poppins);
  color: var(--color-red);
  width: 749px;
  height: 202px;
}
.image-4-icon {
  position: absolute;
  top: 256px;
  left: 54px;
  width: 640px;
  height: 284px;
  object-fit: cover;
}
.frame57,
.frame58,
.frame59,
.frame60,
.vector-icon14 {
  position: absolute;
  top: 0;
  left: 91px;
  width: 749px;
  height: 588px;
  overflow: hidden;
}
.frame57,
.frame58,
.frame59,
.vector-icon14 {
  left: 619px;
  width: 840px;
}
.frame57,
.frame58,
.vector-icon14 {
  left: 0;
  width: 1459px;
}
.frame57,
.vector-icon14 {
  width: 2078px;
}
.vector-icon14 {
  height: 2.64%;
  width: 1.2%;
  top: 95.83%;
  right: 42.73%;
  bottom: 1.52%;
  left: 56.06%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.view-project9 {
  position: absolute;
  top: 588px;
  left: 1000px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.01em;
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-deepskyblue-100);
  width: 161px;
  height: 36px;
}
.frame56 {
  position: absolute;
  top: 2682px;
  left: -399px;
  width: 2078px;
  height: 624px;
  overflow: hidden;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.image-5-icon {
  position: absolute;
  top: 0;
  left: 90px;
  width: 640px;
  height: 284px;
  object-fit: cover;
}
.frame62,
.frame63,
.frame64 {
  position: absolute;
  top: 0;
  left: 674px;
  width: 730px;
  height: 284px;
  overflow: hidden;
}
.frame62,
.frame63 {
  left: 0;
  width: 1404px;
}
.frame62 {
  top: 251px;
  width: 2078px;
}
.a-viral-sensation,
.popup-bagels {
  position: absolute;
  top: 0;
  left: 510px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 248px;
  height: 98px;
}
.popup-bagels {
  top: 49px;
  left: 0;
  font-size: var(--font-size-109xl);
  font-family: var(--font-poppins);
  color: var(--color-red);
  width: 1268px;
  height: 202px;
}
.frame66 {
  position: absolute;
  top: 0;
  left: 33px;
  width: 1679px;
  height: 251px;
  overflow: hidden;
}
.frame65 {
  top: 0;
  left: 31px;
  width: 2078px;
  height: 251px;
}
.frame61,
.frame65,
.vector-icon15 {
  position: absolute;
  overflow: hidden;
}
.frame61 {
  top: 3576px;
  left: -399px;
  width: 2109px;
  height: 535px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.vector-icon15 {
  height: 0.11%;
  width: 1.95%;
  top: 34.34%;
  right: 38.59%;
  bottom: 65.55%;
  left: 59.45%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.view-project10 {
  position: absolute;
  top: 5126px;
  left: 594px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 163px;
  height: 41px;
}
.image-7-icon {
  position: absolute;
  top: 0;
  left: 82px;
  width: 640px;
  height: 284px;
  object-fit: cover;
}
.frame71,
.frame72 {
  top: 0;
  height: 284px;
  overflow: hidden;
}
.frame72 {
  position: absolute;
  left: 678px;
  width: 722px;
}
.frame71 {
  width: 1400px;
}
.allbirds1,
.frame70,
.frame71 {
  position: absolute;
  left: 0;
}
.frame70 {
  top: 300px;
  width: 2078px;
  height: 284px;
  overflow: hidden;
}
.allbirds1 {
  top: 49px;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 1268px;
  height: 202px;
}
.frame73,
.frame74,
.frame75,
.frame76 {
  position: absolute;
  top: 0;
  left: 82px;
  width: 1268px;
  height: 251px;
  overflow: hidden;
}
.frame73,
.frame74,
.frame75 {
  left: 364px;
  width: 1350px;
}
.frame73,
.frame74 {
  top: -49px;
  left: 0;
  width: 1851px;
}
.frame73 {
  top: 98px;
  left: 15px;
  width: 2078px;
  height: 202px;
}
.the-leader-in {
  position: absolute;
  top: 0;
  left: 888px;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.01em;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  display: inline-block;
  width: 393px;
  height: 98px;
}
.frame-icon1,
.frame69 {
  position: absolute;
  overflow: hidden;
}
.frame69 {
  top: 5504px;
  left: -399px;
  width: 2093px;
  height: 584px;
  font-size: var(--font-size-109xl);
  color: var(--color-red);
}
.frame-icon1 {
  top: 4801px;
  left: 361px;
  width: 640px;
  height: 325px;
}
.dashboard {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 14954px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-deepskyblue-100);
  font-family: var(--font-poppins);
}
